navbar-nav .nav-item .nav-link{
    color:azure;
}

.navbar-toggler-icon{ 
    color:azure
}

header{
    background: url("../img/fondo.jpg");
    background-size:cover;
    min-height: height 400px;
}

.fondo{
    background: rgba(255, 0, 0, 0.781);
}